<footer>
This work is adapted from <a href="http://blog.gardeviance.org/2014/07/a-quick-route-to-building-strategy.html">A quick route to building a strategy</a> by Simon Wardley, and thereby licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 License.</a>
</footer>
