<!DOCTYPE html>
<head>
  <title>What is my Strategy?</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="background"></div>
  <div class="strategy">
    <p>
    <%= erb :original %>
    </p>
  </div>
  <%= erb :github_ribbon %>
</body>
<%= erb :footer %>
